# this file documents all routes uunder the /v1/projects tag
paths:
    /v1/projects:
        post:
            summary: Create a new Project
            tags: [Projects]
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: object
                            required:
                                - name
                            properties:
                                name:
                                    type: string
                                    minLength: 3
                                    maxLength: 100
                                    example: My Awesome Project
                                description:
                                    type: string
                                    maxLength: 500
                                    example: My Awesome Project description
            responses:
                201:
                    description: Project created successfully
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    success:
                                        type: boolean
                                    message:
                                        type: string
                                        example: Project created successfully
                                    project:
                                        $ref: "#/components/schemas/Project"
                400:
                    description: Validation error or You already have a project with this name
                404:
                    description: User with id xxxxx not found.
                500:
                    description: Internal server error

        get:
            summary: Get all user's projects
            tags: [Projects]
            responses:
                200:
                    description: List of user projects
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    success:
                                        type: boolean
                                    projects:
                                        type: array
                                        items:
                                            $ref: "#/components/schemas/Project"

                404:
                    description: No projects found
                500:
                    description: Internal server error

    /v1/projects/projectID:
        get:
            summary: Get project by ID
            tags: [Projects]
            parameters:
                - in: path
                  name: projectId
                  required: true
                  schema:
                      type: string
                  description: Project ID
            responses:
                200:
                    description: User project
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    success:
                                        type: boolean
                                    project:
                                        $ref: "#/components/schemas/Project"
                403:
                    description: You do not have access to this project
                404:
                    description: Project not found.
                500:
                    description: Internal server error

        patch:
            summary: Update project
            tags: [Projects]
            parameters:
                - in: path
                  name: projectId
                  required: true
                  schema:
                      type: string
                  description: Project ID
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: object
                            properties:
                                name:
                                    type: string
                                description:
                                    type: string
                                status:
                                    type: string
                                    enum: [ACTIVE, COMPLETED, ARCHIVED]
            responses:
                200:
                    description: Project updated successfully
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    success:
                                        type: boolean
                                    project:
                                        $ref: "#/components/schemas/Project"
                403:
                    description: Only project owner can update project details
                500:
                    description: Internal server error

        delete:
            summary: Delete project
            tags: [Projects]
            parameters:
                - in: path
                  name: projectId
                  required: true
                  schema:
                      type: string
                  description: Project ID
            responses:
                200:
                    description: Project deleted successfully
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    success:
                                        type: boolean
                                    message:
                                        type: string
                403:
                    description: Only project owner can update project details
                500:
                    description: Internal server error
