ALLOWED_ORIGINS=
DATABASE_URL="postgresql://USER:PASSWORD@host:5432/taskmaster"
DIRECT_URL="postgresql://USER:PASSWORD@host:5432/taskmaster"
PORT=3001
NODE_ENV=

JWT_ACCESS_SECRET=
JWT_REFRESH_SECRET=
JWT_INVITATION_SECRET=

JWT_ACCESS_EXPIRATION=
JWT_REFRESH_EXPIRATION=
JWT_INVITATION_EXPIRATION=
REFRESH_PASSWORD_EXPIRATION=

FRONTEND_URL=
APP_DEBUG=false
SWAGGER_BASE_URL=
PRODUCTION_URL=


SMTP_SERVICE=
SMTP_HOST= 
SMTP_PORT=
SMTP_USER=
SMTP_PASSWORD=
FROM_EMAIL=

CLIENT_ID=
CLIENT_SECRET=
REFRESH_TOKEN=
EMAIL_USER=