ALLOWED_ORIGINS=
DATABASE_URL="postgresql://USER:PASSWORD@host:5432/taskmaster"
DIRECT_URL="postgresql://USER:PASSWORD@host:5432/taskmaster"
PORT=7000
NODE_ENV=

JWT_ACCESS_SECRET=
JWT_REFRESH_SECRET=
JWT_INVITATION_SECRET=

JWT_ACCESS_EXPIRATION=
JWT_REFRESH_EXPIRATION=
JWT_INVITATION_EXPIRATION=
REFRESH_PASSWORD_EXPIRATION=

FRONTEND_URL=http://localhost:5173
APP_DEBUG=false
SWAGGER_BASE_URL=
PRODUCTION_URL=


# Email (use Ethereal for dev: https://ethereal.email)
RESEND_API_KEY=
SMTP_SERVICE=""
SMTP_USER=smtp.ethereal.email
SMTP_PORT=587
SMTP_HOST=
SMTP_PASSWORD=
FROM_EMAIL="taskmaster@support.com"