node_modules

# build artifacts
dist/              
build/




# keep environment variables, excluding .env.sample, out of version control
.env
.env.local
.env.production

# Prisma
prisma/migrations/

# Logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

/generated/prisma


/src/generated/prisma

/src/generated/prisma
